[Desktop Entry]
Encoding=UTF-8
Name=Cinnamon
Name[en_GB]=Cinnamon
Comment=This session logs you into Cinnamon
Comment[en_GB]=This session logs you into Cinnamon
Exec=/usr/bin/gnome-session --session=cinnamon
# no icon yet, only the top three are currently used
Icon=
Type=Application
